Punto 4/precios.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:element name="precios">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="precio" type="Tprecio"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="Tprecio">
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="3"/>
            <xs:fractionDigits value="2"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>